.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 10%;
}

.hamburger-menu {
  height: 3%;
  width: 3%;
  margin-left: 2%;
}

.hamburger-menu:hover {
  opacity: 20%;
  display: sidebar;
}

.signout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    42deg,
    rgba(35, 255, 119, 0.903),
    rgba(35, 255, 119, 0.762),
    rgb(6, 255, 197),
    rgba(41, 169, 229, 0.778),
    rgba(41, 169, 229, 0.305)
  );
  color: white;
  width: 160px;
  height: 51px;
  border-radius: 18%/50%;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
}

.month_title {
  font-variant: small-caps;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 45px;
  margin-bottom: 10px;
}

.days {
  display: grid;
  color: green;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  align-items: top;
  justify-content: start;
}

.day {
  border: 1px solid green;
  box-sizing: border-box;
  padding: 5px;
}

.horizontalLayout {
  display: grid;
  color: green;
  /* this can be removed and set directly in Javascript */
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  align-items: top;
  justify-content: start;
}

.individualBox {
  border: 1px solid green;
  box-sizing: border-box;
}

.dayNumber {
  padding: 0px;
  margin: 0px;
  padding-bottom: 80px;
}

.add {
  justify-self: end;
  display: block;
  float: right;
  outline-width: 0px;
  outline-style: solid;
  border-radius: 6px;
  box-shadow: 0 0 0 0.1px rgb(39, 89, 69);
  outline-offset: -0.1px;
  outline-width: 1px;
  border: 1px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}

/* -------------------------------------popup display items------------------------------------------------------------------------------- */
.popup {
  width: 425px;
  height: 425px;
  border-radius: 6px;
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate (-90%, -90%) scale(0.9);
  box-shadow: 0 5px 5px rgb(2, 72, 22);
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 78, 23);
  opacity: 100%;
  border: 10px;
}
.circle {
  height: 6%;
  padding-top: 2px;
  width: auto;
  margin: 0px;
  border-radius: 10px;
  border-color: black;
  filter: brightness(50%);
}
.simplyThrive {
  padding-top: 6px;
  vertical-align: top;
  display: inline-block;
  margin: 0px;
  font-size: 17px;
  font-variant: small-caps;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

.popup2 {
  background-color: rgb(29, 144, 92);
  height: 375px;
}

.exit1 {
  color: rgb(0, 0, 0);
  margin-right: auto;
  right: 3%;
  top: 1%;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
}

.exit2 {
  color: rgb(0, 0, 0);
  margin-right: auto;
  right: 3%;
  top: 1%;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
}

.exit3 {
  color: rgb(0, 0, 0);
  margin-right: auto;
  right: 3%;
  top: 1%;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
}

.enterEvents {
  display: block;
  align-self: center;
  margin-bottom: 2px;
  text-align: center;
  margin-top: 12px;
  height: 30px;
  font-size: 25px;
  color: rgba(135, 226, 208, 0.878);
  font-family: Georgia, serif;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event input[type="text"] {
  width: 175px;
  height: 20px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-width 0.2s;
  font-family: serif;
  font-size: 18px;
}

.event input[type="text"]:focus {
  outline: none;
  border: 0.2px solid rgb(0, 0, 0);
  opacity: 1;
  font-family: serif;
  font-size: 18px;
}

.recomendations {
  text-align: left;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 20px;
  color: rgba(135, 226, 208, 0.878);
  font-family: Georgia, serif;
}

.recFlexbox {
  display: flex;
  flex-direction: row;
}

.bike {
  padding-bottom: 0px;
  padding-left: 6px;
  display: block;
}

.bike2 {
  flex: 1;
  display: inline-block;
  color: rgba(135, 226, 208, 0.878);
  text-align: center;
  justify-content: center;
}

.cake {
  padding-left: 5px;
  padding-bottom: 0px;
  display: inline-block;
  flex: 1;
}

.cake2 {
  display: inline-block;
  color: rgba(135, 226, 208, 0.878);
  text-align: center;
}

.city {
  padding-left: 50px;
  padding-bottom: 0px;
  display: inline-block;
}

.city2 {
  display: inline-block;
  color: rgba(135, 226, 208, 0.878);
  text-align: center;
}

.cart {
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline-block;
}

.cart2 {
  display: inline-block;
  color: rgba(135, 226, 208, 0.878);
  text-align: center;
}

.tree {
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline-block;
}

.tree2 {
  display: inline-block;
  color: rgba(135, 226, 208, 0.878);
  text-align: center;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue1 {
  outline: none;
  border: 0.4px solid rgba(135, 226, 208, 0.878);
  box-shadow: 0 5px 5px rgba(29, 196, 101, 0.942);
  opacity: 1;
  font-family: serif;
  font-size: 22px;
  width: 35%;
  height: 9%;
  border-radius: 8px;
  display: block;
}

.continue1:hover {
  border-color: rgb(0, 0, 0); /* Example: border color changes on hover */
  box-shadow: 0 5px 5px rgba(29, 196, 101, 0.942);
  border-radius: 10px;
}

.continue1:active {
  opacity: 0.3;
  border-radius: 10px;
}

/* ------------------------------------- second popup display items------------------------------------------------------------------------------- */
.popupSelection {
  width: 425px;
  height: 425px;
  border-radius: 6px;
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate (-90%, -90%) scale(0.9);
  box-shadow: 0 5px 5px rgb(29, 144, 92);
  display: flex;
  flex-direction: row;
  background-color: rgb(29, 144, 92);
  opacity: 100%;
}

.displayInput {
  text-align: center;
  color: black;
  font-size: 20px;
}

.when {
  margin-bottom: 0px;
  text-align: left;
  margin-left: 5px;
  color: rgb(85, 235, 135);
  font-size: 16px;
}

.hour1 {
  text-align: center;
  color: rgb(174, 255, 202);
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hours {
  overflow-x: scroll;
  scroll-snap-align: start;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  justify-content: center;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(134, 11, 11, 0.5) rgba(255, 208, 208, 0.1);
}

.hour.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.hour {
  flex: 0 0 calc(20% - 10px);

  display: inline-flex;
}
.hour:nth-child(1) {
  font-size: x-small;
  color: rgb(36, 201, 80);
  transform: skew(6deg);
  font-weight: 380;
  display: hidden;
}

.hour:nth-child(2) {
  font-size: x-small;
  color: rgb(36, 201, 80);
  transform: skew(6deg);
  font-weight: 380;
  display: hidden;
}

.hour:nth-child(3) {
  font-size: x-small;
  color: rgb(36, 201, 80);
  transform: skew(6deg);
  font-weight: 380;
}

.hour:nth-child(4) {
  font-size: medium;
  color: rgb(45, 255, 101);
  transform: skew(5deg);
}

.hour:nth-child(5) {
  font-size: larger;
  color: rgb(136, 255, 168);
  transform: skew(2deg);
  font-weight: 420;
  text-shadow: 0.5px 0.5px 1px rgb(118, 255, 154);
}

.hour:nth-child(6) {
  font-size: x-large;
  color: rgb(204, 255, 218);
  transform: rotate(0deg);
  font-weight: 450;
  text-shadow: 1px 1px 2px rgb(204, 255, 218);
  align-self: center;
}

.hour:nth-child(7) {
  font-size: larger;
  color: rgb(118, 255, 154);
  transform: skew(-2deg);
  font-weight: 420;
  text-shadow: 0.5px 0.5px 1px rgb(118, 255, 154);
}

.hour:nth-child(8) {
  font-size: medium;
  color: rgb(34, 255, 93);
  transform: skew(-5deg);
}

.hour:nth-child(9) {
  font-size: x-small;
  color: rgb(36, 201, 80);
  transform: skew(-6deg);
  display: inline-block;
  font-weight: 380;
}
/* -----------------------------------------------------sidebar display------------------------------------------------------ */
.sidebar {
  display: hidden;
  width: 20%;
  height: 100%;
  background-color: #dcffed;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 2%;
}

.sidebar:hover {
  background-color: #a6ffd1;
  cursor: pointer;
  border: black;
  border-width: 1px;
}

.show-sidebar {
  width: 20%;
  height: 100%;
  background-color: #dcffed;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 2%;
  transition: opacity 0.3s ease-in-out;
}
