body {
  overflow-x: hidden;
}

.Parent-container {
  display: flex;
  flex-direction: column;
  height: 6000px;
  width: auto;
  background-color: rgb(34, 69, 91);
}

.first-box {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 70px;
  padding-bottom: 20px;
  padding-top: 0px;
  background-color: rgb(34, 69, 91);
}

.circle {
  height: 110%;
  width: auto;
  margin: 0px;
  padding-top: 10px;
  border-radius: 10px;
  border-color: black;
  vertical-align: middle;
  margin-left: 2%;
}
