/* this page links to index page */
body {
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

.Parent-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.header-content {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: space-between; /* Space between the logo and nav */
}

.header-content video {
  max-height: 3em;
  margin-right: 3em;
}

.header-content img {
  max-height: 3em;
  margin-right: 3em;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}

.header-buttons a {
  text-decoration: none;
  font-size: 1.2em;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174167;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em;
  /* Smaller padding for a more compact button */
  border-radius: 0.8em;
  /* Make the buttons more rounded */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.header-buttons a:hover {
  background-color: #286aa7;
}

.section {
  margin-bottom: 0.5em;
  padding: 0.5em;
  position: relative;
  display: flex;
  width: 100%;
  height: calc(80vh);
  align-items: center;
  justify-content: space-between;
  display: inline-block;
}

.section video {
  opacity: 35%;
  width: 100%;
  height: calc(75vh);
  margin: 0.2em;
  padding: 0em;
  object-fit: cover;
  display: inline-block;
}

.section-wording {
  font-family: "Space Grotesk", sans-serif;
  display: inline-block;
  font-stretch: expanded;
  clear: both;
  position: absolute;
  transform: translateX(-50%);
  top: 5.5%;
  left: 50%;
  letter-spacing: 0.1em;
  font-weight: 700 !important;
  color: transparent;
  /* Set initial text color to transparent */
  font-size: 2.5em;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255)
  );
  /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 3s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}

.section-slogan {
  display: inline-block;
  font-stretch: expanded;
  position: absolute;
  transform: translateX(-50%);
  top: 45%;
  left: 50%;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700 !important;
  color: transparent;
  /* Set initial text color to transparent */
  font-size: 0.9em;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255)
  ); /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 3s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}

.section-buttons {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  gap: 12em;
  align-items: center;
  padding: 0.5em;
  flex-grow: 1;
  width: 100%;
  top: 70%;
}

.section-buttons a {
  text-decoration: none;
  font-size: 17pt;
  color: #ffffff;
  transition: background-color 0.3s;
  background-color: #174167;
  padding: 0.5em 1em;
  border-radius: 0.99em;
  white-space: nowrap;
}

.section-buttons a:hover {
  background-color: #286aa7;
}

/* .section2-container {
  width: 100%;
  top: 100%; 
  transition: top 0.5s ease; 
  position: fixed;
} */

/* Your existing styles here */
.section2 {
  border-radius: 1em 1em 1em 1em;
  position: relative;
  display: flex;
  padding-bottom: 1.5em;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  animation: rotateBoxShadow 4s infinite linear; /* Adjust the duration and timing function as needed */
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 5em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 6em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 6em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 6em #143852;
  }
}

.fa-3xl {
  font-size: 3.5em;
  line-height: 4em;
}

.section2-title {
  margin-top: 1em;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 3em;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  padding: 1%;
  margin-bottom: 1em;
}

.description {
  flex: 2;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.instruction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-self: flex-end;
  margin-top: 25vh;
}

.flex_empty {
  flex: 1;
}

.circle-box {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 9;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-radius: 1em 1em 1em 1em;
  background-color: rgb(17, 25, 35);

  /* Adjust the width of each box */
}

.circle {
  margin-top: 2em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  animation: rotateBoxShadow1 4s infinite linear;
}

@keyframes rotateBoxShadow1 {
  0% {
    box-shadow: 0.05em 0.05em 1.3em rgba(0, 174, 255, 0.5);
  }
  33% {
    box-shadow: 0.05em 0.1em 1.1em rgba(255, 255, 255, 0.8);
  }
  66% {
    box-shadow: 0.05em 0.15em 1em rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0.05em 0.1em 1.2em rgba(0, 174, 255, 0.5);
  }
}

a {
  font-family: "Space Grotesk", sans-serif;
}

.section3 {
  border-radius: 1em 1em 1em 1em;
  background-color: rgb(0, 0, 0);
  margin-top: 3%;
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  animation: rotateBoxShadow 4s infinite linear; /* Adjust the duration and timing function as needed */
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 5em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 6em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 6em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 6em #143852;
  }
}

.section3-title {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}

.board-members-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.board-member-item {
  margin: 1em;
  flex-basis: 12%; /* Adjust the width as needed */
  color: #ffffff;
}

.board-member-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  animation: rotateBoxShadow1 4s infinite linear;
}

@keyframes rotateBoxShadow1 {
  0% {
    box-shadow: 0.05em 0.05em 0.9em rgba(24, 55, 68, 0.974);
  }
  33% {
    box-shadow: 0.05em 0.1em 1em #446897;
  }
  66% {
    box-shadow: 0.05em 0.15em 1.1em #38557d;
  }
  100% {
    box-shadow: 0.05em 0.1em 0.95em rgba(17, 48, 70, 0.8);
  }
}

.board-member-name {
  margin-top: 0.5em;
  font-size: 1.2em;
}

.board-quote {
  color: #ffffff;
  margin-top: 2em;
  font-family: "Space Grotesk", sans-serif;
  font-style: italic;
  padding: 0 15%;
  word-spacing: 0.09em; /* Adjust the value to increase or decrease word spacing */
  letter-spacing: 0.02em; /* Adjust the value to increase or decrease letter spacing */
}

.board-quote blockquote {
  quotes: "“" "”" "‘" "’";
}

.board-quote-author {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5em;
}

.contact-information {
  color: #ffffff;
  margin-top: 2em;
}

.contact-information h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.contact-information p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* Default styling for the email link */
.emailForCyberminds {
  color: #ffffff; /* Light blue color */
  text-decoration: none; /* No underline */
  font-size: 0.8em; /* Smaller font size */
}

/* Hover effect for the email link */
.emailForCyberminds:hover {
  color: #ffffff; /* Dark blue color on hover */
  text-decoration: underline; /* Underline on hover */
  font-weight: bold; /* Bold on hover */
}

.board-member-title {
  color: #ffffff; /* Dark green color */
  text-shadow: 0.1em 0.2em 0.3em rgb(0, 0, 0); /* Add a subtle shadow */
  font-size: 1em;
}

.blue-word {
  color: rgb(139, 207, 255);
}

.section4 {
  background-color: rgb(0, 0, 0);
  border-radius: 1em 1em 1em 1em;
  margin-top: 3%;
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh);
  margin-bottom: 3%;
}

.verticalbox1,
.verticalbox2 {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  flex: 1;
  height: fit-content;

  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 -8em 7em #1a2332;
}

/* Gradient background */
.verticalbox1 {
  margin-right: 1.9%;
  margin-left: 4%;
  animation: rotateBoxShadow 4s infinite linear;
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 5em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 6em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 6em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 6em #143852;
  }
}

.verticalbox2 {
  margin-right: 4%;
  margin-left: 1.9%;
  animation: rotateBoxShadow 4s infinite linear;
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 5em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 6em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 6em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 6em #143852;
  }
}

.verticalbox1:hover {
  font-size: 1.05em;
}

.verticalbox2:hover {
  font-size: 1.05em;
}

.imageforverticalbox {
  align-self: center;
}
.imgpurple,
.imggreen {
  margin-top: 7%;
  align-self: center;
  z-index: 1; /* Set a higher z-index value */
  align-self: center;
  height: calc(40vh);
  width: auto;
  border-radius: 1em 1em 1em 1em;
  flex: 2;
}

.textforverticalbox {
  align-self: center;
  margin: 4%;
  color: rgba(233, 232, 232, 0.799);
  font-weight: 600;
  font-size: 1.2em;
  flex: 3;
  z-index: 1; /* Set a higher z-index value */
}

.specifictitle {
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: none;
  text-align: left;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.08em;
  letter-spacing: 0.007em;
  font-size: 2.5em;
  font-weight: 600;
  color: rgba(233, 232, 232, 0.826);
}

.Otherextratext {
  margin-bottom: 0.9em;
  margin-top: 0.1em;
}

.mr-2 {
  z-index: 1; /* Set a higher z-index value */
  margin-left: 5%;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.08em;
  letter-spacing: 0.007em;
  color: white;
  transition: font-size 0.3s ease; /* Add a smooth transition effect */
}

.mr-2:hover {
  font-size: 1.4em;
  color: rgb(111, 219, 240);
}

.section5 {
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 1em 1em 1em 1em;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 100%;
  height: calc(100vh);
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  animation: rotateBoxShadow 4s infinite linear;
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 5em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 6em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 6em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 6em #143852;
  }
}

.titleforsection5 {
  position: relative;
  top: 7%;
  margin-bottom: 5em;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: 99;
  margin-bottom: 5%;
}
.section5-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3em;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.2em;
  text-align: center;
  letter-spacing: 0.1em;
  color: white;

}

.animatedbackgroundwithCircles {
  width: 100%;
  height: calc(90vh);

}

.animatedbackgroundwithCircles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circles li {
  list-style: none;
  position: absolute;
  width: 0.3em;
  height: 0.3em;
  background: rgb(253, 253, 255);
  border-radius: 50%;
  animation: goingUp 20s linear infinite;
  bottom: -7.4em;
  box-shadow: inset 0.1em 0em 0.15em rgb(0, 0, 0); /* Adjusted box-shadow values */
}

@keyframes goingUp {
  0% {
    transform: translateY(0), rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) rotate(720deg);
    opacity: 0;
    background-color: #143852;
  }
}



/* THE FEEDBACK BOXES */
.contentforverticalboxFeedback {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  position: relative;
  overflow-y: auto; /* Enable vertical scrollbar */
  display: flex;
  flex-direction: row;
  height: calc(65vh);
  z-index: 9999;
}

/* Customize scrollbar appearance */
.contentforverticalboxFeedback::-webkit-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

.contentforverticalboxFeedback::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make scrollbar thumb transparent */
}

.contentforverticalboxFeedback::-webkit-scrollbar-track {
  background-color: transparent; /* Make scrollbar track transparent */
}


.FeedbackColumn1{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 1%;
}
.FeedbackColumn2{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
.FeedbackColumn3{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 2%;
}


.Feedback1{
  flex: 3;
  background-color: #111923;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;

}


.Feedback2{
  margin-top: 3%;
  margin-bottom: 3%;
  flex: 5;
  background-color: #111923;
  border-radius: 1em 1em 1em 1em; 
   opacity: 90%;
}

.Feedback3{
  flex: 10;
  background-color: #111923;
  border-radius: 1em 1em 1em 1em; 
   opacity: 90%;

}


.Feedback4{
  margin-top: 3%;
  flex: 2;
  background-color: #111923;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
}

.Feedback5{
  flex: 7;
  background-color: #111923;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
}


.Feedback6{
  margin-top: 3%;
  flex: 20;
  background-color: #111923;
  border-radius: 1em 1em 1em 1em;
  opacity: 90%;
}


.FeedbackTitle{
  color:white;
  font-size: 1.1em ;
  font-family: "Space Grotesk", sans-serif;
  align-self: left;
  padding-right: 40%;
  font-weight: 600;
}

.stars{

  color:white;
  font-size: 1.1em ;
  font-family: "Space Grotesk", sans-serif;
  align-self: left;

  font-weight: 600;
}

.theFeedback{
  color:rgba(255, 255, 255, 0.832);
  font-size: 0.9em ;
  font-family: "Space Grotesk", sans-serif;
  align-self: center;
  padding-left: 6%;
  padding-right: 6%;
  text-align: left; 
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
  line-height: 1.7em;

}


footer {
  padding-top: 2em;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
  font-family: "Space Grotesk", sans-serif;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.revealmagically {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.revealmagically.active {
  transform: translateY(0px);
  opacity: 1;
}

p {
  font-family: "Space Grotesk", sans-serif;
}

.white-word {
  color: rgb(255, 255, 255);
}

.blue-word {
  color: rgb(111, 219, 240);
  font-family: sans-serif;
}
a {
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
}
footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}

.page-footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}
