/* this page links to the CHAT BOX */
body {
  overflow-x: hidden;
}

.Parent-container {
  display: flex;
  flex-direction: column;
  height: calc(140vh);
  width: auto;
  background-color: #000000;
  animation: rotateBoxShadow 4s infinite linear;
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 15em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 17em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 17em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 15em #143852;
  }
}

body {
  font-family: "Georgia", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*this is body*/
  color: #ffffff;
  text-align: center;
}
.chat {
  margin: 50;
  opacity: 100%;
}
.white-rectangle {
  background-color: #ffffff;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-size: 50%, auto;
}
header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.header-content {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: space-between; /* Space between the logo and nav */
}

.header-content img {
  max-height: 3em;
  margin-right: 3em;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}

.header-buttons a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174167;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em; /* Smaller padding for a more compact button */
  border-radius: 0.8em; /* Make the buttons more rounded */
  white-space: nowrap; /* Prevent text from wrapping */
}

.header-buttons a:hover {
  background-color: #286aa7;
}
.page-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4em;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  display: inline-block;
  font-stretch: expanded;
  position: absolute;
  transform: translateX(-50%);
  top: 8.5%;
  left: 49%;
  color: transparent; /* Set initial text color to transparent */
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.8)
  ); /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 3s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}

h2 {
  font-family: "MuseoModerno", sans-serif;
}

a {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Space Grotesk", sans-serif;
}

footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}

footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}

.page-footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}
