/* this page links to index */
body {
  overflow-x: hidden;
}
.Parent-container {
  display: flex;
  flex-direction: column;
  height: 200em;
  width: auto;
  background-color: rgb(42, 44, 43);
}
body {
  font-family: "Georgia", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  text-align: center;
}
header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.header-content {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: space-between; /* Space between the logo and nav */
}
.header-content img {
  max-height: 3em;
  margin-right: 3em;
}
.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}
.header-buttons a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174167;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em; /* Smaller padding for a more compact button */
  border-radius: 0.8em; /* Make the buttons more rounded */
  white-space: nowrap; /* Prevent text from wrapping */
}
.header-buttons a:hover {
  background-color: #286aa7;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}
p {
  line-height: 1.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  padding-left: 20px;
  color: white;
  text-align: center;
  list-style: none;
}
li {
  margin-bottom: 5px;
  color: white;
  scale: 110%;
  font-style: italic;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  text-align: center;
}
.placeholder-1-MdM {
  height: 42.9rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
.replace-this-text-with-mission-statement-duD {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 600;
  height: 2.5rem;
  line-height: 1.2125;
  white-space: nowrap;
  width: 100%;
}
.our-mission-AK5 {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 4rem;
  font-weight: 600;
  height: 4.9rem;
  line-height: 1.2125;
  white-space: nowrap;
  width: 100%;
}
.rectangle-1-Zi3 {
  background-color: #846cef;
  height: 6.9rem;
  width: 100%;
}
.rectangle-2-Kjq {
  background-color: #4d31b2;
  height: 48.2rem;
  width: 100%;
}
.rectangle-3-XhV {
  background-color: #ab96fb;
  height: 38.2rem;
  width: 100%;
}
