.Parent-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 100%;
  background-color: rgb(42, 44, 43);
}

.first-box {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 2.5%;
  padding-bottom: 20px;
  padding-top: 0px;
  background-color: rgb(0, 0, 0);
}

.circle {
  height: 110%;
  width: auto;
  margin: 0px;
  padding-top: 10px;
  border-radius: 10px;
  border-color: black;
  vertical-align: middle;
  margin-left: 2%;
}

.firstbox-buttons {
  display: inline-block;
  height: 50px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  border: none;
  margin-top: 10px;
  font-size: 70%;
}

.backtoHomeScreenButton {
  margin-left: 10%;
  margin-right: 3%;
  vertical-align: middle;
  background: linear-gradient(
    51deg,
    rgba(35, 255, 119, 0.903),
    rgba(35, 255, 119, 0.762),
    rgb(6, 255, 197),
    rgba(41, 169, 229, 0.778),
    rgba(41, 169, 229, 0.305)
  );
  width: auto;
  height: 70%;
  border-color: silver;
  border-radius: 22%/90%;
  font-family: sans-serif;
  color: white;
}

.CoursesButton {
  margin-left: 5%;
  margin-right: 3%;
  vertical-align: middle;
  background: linear-gradient(
    51deg,
    rgba(35, 255, 119, 0.903),
    rgba(35, 255, 119, 0.762),
    rgb(6, 255, 197),
    rgba(41, 169, 229, 0.778),
    rgba(41, 169, 229, 0.305)
  );
  width: auto;
  height: 70%;
  border-color: silver;
  border-radius: 29%/65%;
  font-family: sans-serif;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(42, 44, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}

p {
  line-height: 1.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  padding-left: 20px;
  color: white;
  text-align: center;
  list-style: none;
}

li {
  margin-bottom: 5px;
  color: white;
  scale: 110%;
  font-style: italic;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  text-align: center;
}
