/* this page links to index */
body {
  overflow-x: hidden;
}

.Parent-container {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: auto;
}

body {
  font-family: "Georgia", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  background-color: black;
  animation: rotateBoxShadow 4s infinite linear;
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 15em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 17em #1a2738;
  }
  66% {
    box-shadow: inset 0px 0.5em 17em #1a2738;
  }
  100% {
    box-shadow: inset 0em 0em 15em #143852;
  }
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: space-between; /* Space between the logo and nav */
}

.header-content img {
  max-height: 3em;
  margin-right: 3em;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}

.header-buttons a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174167;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em; /* Smaller padding for a more compact button */
  border-radius: 0.8em; /* Make the buttons more rounded */
  white-space: nowrap; /* Prevent text from wrapping */
}

.header-buttons a:hover {
  background-color: #286aa7;
}

main {
  padding-bottom: 3.5rem;
}

.page-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4em;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  color: transparent; /* Set initial text color to transparent */
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.8)
  ); /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 3s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}

p {
  line-height: 1.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  padding-left: 20px;
  color: white;
  text-align: center;
  list-style: none;
}

li {
  margin-bottom: 5px;
  color: white;
  scale: 110%;
  font-style: italic;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  /*border-bottom: 2px solid #333;*/
  padding-bottom: 5px;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}

footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}

.page-footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
  font-family: "Space Grotesk", sans-serif;
}

a {
  font-family: "Space Grotesk", sans-serif;
}

li {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Space Grotesk", sans-serif;
}

.emailForCyberminds {
  color: #ffffff; /* Light blue color */
  text-decoration: none; /* No underline */
  font-size: 0.8em; /* Smaller font size */
}

/* Hover effect for the email link */
.emailForCyberminds:hover {
  color: #ffffff; /* Dark blue color on hover */
  text-decoration: underline; /* Underline on hover */
  font-weight: bold; /* Bold on hover */
}

.text-container {
  background-color: #111923;
  border-radius: 1em;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
