.pagetitle {
  font-family: "Parisienne", cursive;

  letter-spacing: 0.05em;
  font-weight: 500;
  color: transparent; /* Set initial text color to transparent */
  font-size: 4.5em;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.8)
  ); /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 2s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}

body {
  background-color: #1a2738;
  font-family: "Georgia", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  max-height: 3em;
  margin-right: 3em;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}

.header-buttons a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174167;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em; /* Smaller padding for a more compact button */
  border-radius: 0.8em; /* Make the buttons more rounded */
  white-space: nowrap; /* Prevent text from wrapping */
}

.header-buttons a:hover {
  background-color: #286aa7;
}

.h2 {
  white-space: nowrap;
  font-family: "Parisienne", cursive;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 20%;
  font-family: "True Sans" !important;
  color: white;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 2.5em;
  margin-left: 1%;
  margin-right: 1%;
}

.img {
  box-shadow: 0 0 0.4em rgb(0, 251, 255);
}

@media (max-width: 62.5em) {
  .flex-item {
    flex: 33%;
  }
}

@media (max-width: 20em) {
  .flex-item {
    flex: 100%;
  }
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
  font-size: 1em;
}

a {
  font-family: "Space Grotesk", sans-serif;
}
