.pagetitle {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4em;
  font-weight: 700;
  font-style: normal;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
  color: transparent; /* Set initial text color to transparent */
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.8)
  ); /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 2s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;
  background-color: black;
  animation: rotateBoxShadow 4s infinite linear;
}

@keyframes rotateBoxShadow {
  0% {
    box-shadow: inset 0px 0em 15em #102d42;
  }
  33% {
    box-shadow: inset 0px 1em 20em #213f67;
  }
  66% {
    box-shadow: inset 0px 0.5em 20em #132b49;
  }
  100% {
    box-shadow: inset 0em 0em 15em #143852;
  }
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  max-height: 3em;
  margin-right: 3em;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}

.header-buttons a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174867;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em; /* Smaller padding for a more compact button */
  border-radius: 0.8em; /* Make the buttons more rounded */
  white-space: nowrap; /* Prevent text from wrapping */
}

.header-buttons a:hover {
  background-color: #286aa7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 20%;

  color: white;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 2.5em;
  margin-left: 1%;
  margin-right: 1%;
}

.img {
  border-width: 0.9em;
  border-style: solid; /* Add this line */
  border-color: #111a23;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  animation: rotateBoxShadow1 4s infinite linear;
}

@keyframes rotateBoxShadow1 {
  0% {
    box-shadow: 0.05em 0.05em 0.9em rgba(30, 81, 103, 0.974);
  }
  33% {
    box-shadow: 0.05em 0.1em 1.3em #4f7ab2;
  }
  66% {
    box-shadow: 0.05em 0.15em 1.5em #38557d;
  }
  100% {
    box-shadow: 0.05em 0.1em 0.95em rgba(29, 85, 126, 0.71);
  }
}

@media (max-width: 62.5em) {
  .flex-item {
    flex: 33%;
  }
}

@media (max-width: 20em) {
  .flex-item {
    flex: 100%;
  }
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

a,
h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
}

.page-footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9em;
  font-family: "Space Grotesk", sans-serif;
}

.flex1 {
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 25, 35);
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  margin-left: 35em;
  margin-right: 5em;
  height: 25em;
  
}
.flex2 {
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 25, 35);
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  margin-left: 5em;
  margin-right: 60em;
  height: 50em;
}

.flexwording {
  background: linear-gradient(to bottom, #0000009f, #17263b);
  flex: 6;
  border-width: 0.6em;
  border-style: solid; /* Add this line */
  border-color: #111a23;
  margin-top: 3em;
  margin-bottom: 2.5em;
  margin-left: 3.6em;
  margin-right: 3.6em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  animation: rotateBoxShadow1 4s infinite linear;
}
