/* this page links to index */
body {
  overflow-x: hidden;
}

.Parent-container {
  display: flex;
  flex-direction: column;
  height: 200em;
  width: auto;
  background-color: #1a2738;
}

body {
  font-family: "Georgia", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  text-align: center;
}

header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.header-content {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: space-between; /* Space between the logo and nav */
}

.header-content img {
  max-height: 3em;
  margin-right: 3em;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0.5em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  flex-grow: 1;
}

.header-buttons a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  background-color: #174167;
  text-decoration: none;
  margin-right: 0.9em;
  padding: 0.4em 0.8em; /* Smaller padding for a more compact button */
  border-radius: 0.8em; /* Make the buttons more rounded */
  white-space: nowrap; /* Prevent text from wrapping */
}

.header-buttons a:hover {
  background-color: #286aa7;
}

.page-title {
  display: inline-block;
  font-stretch: expanded;
  position: absolute;
  transform: translateX(-50%);
  top: 8.5%;
  left: 49%;
  font-family: "True Sans" !important;
  letter-spacing: 0.1em;
  font-weight: 700 !important;
  color: transparent; /* Set initial text color to transparent */
  font-size: 3.5em;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.8)
  ); /* Adjust the colors and stops as needed */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadeIn 3s forwards; /* Set the duration of the animation */
}

@keyframes fadeIn {
  to {
    color: rgb(255, 255, 255);
    background-size: 200% 100%; /* Adjust the size of the gradient */
  }
}


.title-image{
  width: 100%;
  height: calc(75vh);
  margin: 0.2em;
  padding: 0em;
  opacity: 25%;
  object-fit: cover;
  display: inline-block;
}

.text{
  transform: translateY(140%)
}