
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
}


/*
.box-for-upper-elements{
    background-color:blue;
    width: 100%;
    align-self: center;
    

}

.button-bo{
    align-self: center;
    background-color:brown;
}

*/
button{
    
    
}


.upper-flex{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color:aqua;
    width: 100%;
    padding: 20px;
}

h1{
    font-family:sans-serif;
    font-style: initial;
}